<app-header titulo="App Ionic"></app-header>
<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Awesome Label1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label5</ion-label>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/alert">Alertas</ion-button>
  <ion-button routerLink="/action-sheet">Abas</ion-button>
</ion-content>
