<app-header titulo="Página de Alerta"></app-header>
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-button (click)="presentAlert()" expand="block" shape="round">
    Present Alert
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block" shape="round">
    Present Alert1
  </ion-button>
  <ion-button (click)="presentAlertConfirm()" expand="block" shape="round">
    Present Alert2
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block" shape="round">
    Present Alert3
  </ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block" shape="round">
    Present Alert4
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()" expand="block" shape="round">
    Present Alert5
  </ion-button>

</ion-content>
